.label-boton {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}

.label-boton:hover {
    -fx-background-color: green;
}

.table-view .column-header-background {
    -fx-background-color: green;
}
